.tile-remark {
    /* font-weight: bold; */
    color: red;
}

.hide {
    display: none;
}

.warning {
    color:red;
}

.estado {
    background-color: #0dcaf0 !important;
    font-weight: bold !important;
}

/* creating css loader */

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #198754;
    border-top: 6px solid white;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}